.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
}



button:hover {
  opacity: 0.9;
}

.locations {
    height: 100%;

    border-right: 1px solid #DDDDDD; 
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    
}
.locations h3 {
    font-weight: 600;  

}

.locations h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: -10px;
}

.amenities {
    height: 100%;
    padding: 0  40px;
    display: flex;
    flex-direction: column;
}

.amenities h3 {
    font-weight: 600;
}
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: -10px;
}

.loac-amen {
    white: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}